*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties


--------------------------------------------------

user : battlebots-first
pwd : CBSouth123$$

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

Gmail user : battlebots.first@gmail.com / FTC2023@T3am